**Function in Python(Basic to Advance...)**

In [1]:
##basic function with syntax

def hello_world():
  print("hello world")

hello_world()

hello world

In [4]:
##bacic function with parameter

def cube(num):
  out = num**3
  return (out)

In [5]:
##calling out function 

cube1 = cube(4)
print(cube1)

64

In [7]:
##function to return the factorial of number

def factorial(n):
  if n > 1:
    return n * factorial(n-1)
  else:
    return n

fact = factorial(5)
print(fact)

120

In [9]:
### when we don't know how many value we are going to pass then we use *args as parameter
## so we can pass as many value u need to pass

def submition(*args):
  print(args)
  return sum(args)

print(submition(1,2,3,4))

(1, 2, 3, 4)
10

In [13]:
##Lamda function in pyhton

developer = "khushmit sonar"
string_to_list = lambda x: x.split()
print(string_to_list(developer))
print(type(developer))  ##type is used to check the data type of variable
print(type(string_to_list))

['khushmit', 'sonar']
<class 'str'>
<class 'function'>

In [14]:
 multiple = lambda a , b: a*b
 print(multiple(2,5))

10