# Set

 The values True and 1 are considered the same value in sets, and are treated as duplicates:

**Unchangeable:**
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.


**Unordered**
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

In [3]:
list = ["a","b","c","s","a"]

converted = set(list)
print(converted)

{'c', 'b', 'a', 's'}

In [10]:


a ={"ram","smit","lalit","yash","ram"}
b={"ram","sarthak","pratik","suyash"}
##intersecton is used to see the common value in the 2 set
print("intersection: ")
print(a.intersection(b))

##union is going to combine the two set
print("union")
print(a.union(b))

##difference mean what are the different value in a set which are not in b set
print("difference")
print(a.difference(b))

intersection:
{'ram'}
union
{'sarthak', 'lalit', 'ram', 'pratik', 'yash', 'smit', 'suyash'}
difference
{'yash', 'smit', 'lalit'}

In [14]:
grade={"a","b","c","d","e"}

##to check if any element present in set or not

print("a" in grade)

print("g" in grade)

True
False

In [17]:
grade={"a","b","c","d","e"}##adding and removing from the grade

print("adding to set")
grade.add("s")
print(grade)

print("removing from the set: ")
grade.remove("s")
print(grade)

adding to set
{'c', 'd', 's', 'a', 'e', 'b'}
removing from the set:
{'c', 'd', 'a', 'e', 'b'}

In [18]:
grade={"a","b","c","d","e"}

for i in grade:
  print(i)

c
d
a
e
b

In [21]:
##subset
a ={"ram","smit","lalit","yash","ram"}
b={"ram","sarthak","pratik","suyash"}

print(a.issubset(b))

##symmetric_difference
print(a.symmetric_difference(b))

False
{'sarthak', 'lalit', 'pratik', 'yash', 'smit', 'suyash'}