**Tuple**

A double once created cannot be modified at all like

We us this ( ) for tuple

In [3]:
##syntax or declaration of tuple
first =(67,"khushmit sonar", "A3")
print(first)
print(first[0])

(67, 'khushmit sonar', 'A3')
67

In [6]:
city =("pune","kondhwa",411048)
city
new_city = city
print(new_city)
print(id(city))
print(id(new_city))

('pune', 'kondhwa', 411048)
139705437870848
139705437870848

In [7]:
#we can also write tuple without bracket

tuple = 1 ,"hello",67
print(tuple)

(1, 'hello', 67)

In [12]:
##making the list into the tuple
var1 = ([1,2,3],[4,5,6])
print(var1)

##we cant change the tuple but we can change the lists into the tuple
print("after changing the value from the list of tuple")
var1[1][0] = 8
print(var1)

#we can also convert tuple to list and list to tuple
convert_list = list(var1)
print(type(convert_list))

convert_tuple = tuple(convert_list)
print(type(convert_tuple))

([1, 2, 3], [4, 5, 6])
after changing the value from the list of tuple
([1, 2, 3], [8, 5, 6])
<class 'list'>

TypeError: ignored

In [ ]:
##we can also conver