# List
**List is the data structure in the python**

**In list we can store any type of data like numberic , string combine**

**List are in the square brackets[ ]**

In [1]:
##syntax or declaration of list
a =[]
type(a)

list

In [9]:

lang =['R','Python','Java','c/c++','Javascript',22] 
print(lang)
type(lang)
print(lang[0])##printing the element from list at index 0
print(lang[1:4])##it will return value from (1 to 4-1)
print(lang[-2])
print(lang[:-2])

['R', 'Python', 'Java', 'c/c++', 'Javascript', 22]
R
['Python', 'Java', 'c/c++']
Javascript
['R', 'Python', 'Java', 'c/c++']

In [16]:
##append is put some value to the List
fruits =["apple","banana","mango","pinapple","grapes","orange"]
print("append: ")
fruits.append("watermelon")
print(fruits)

print("pop: ")
fruits.pop(-1)
print(fruits)

print("remove: ")
fruits.remove("mango")
print(fruits)

append:
['apple', 'banana', 'mango', 'pinapple', 'grapes', 'orange', 'watermelon']
pop:
['apple', 'banana', 'mango', 'pinapple', 'grapes', 'orange']
remove:
['apple', 'banana', 'pinapple', 'grapes', 'orange']

['apple', 'banana', 'pinapple', 'grapes', 'orange']

In [21]:
#both cities and new_list are sharing the same memory location
#so, the whatever we will append in the cities it will also reflect in new_list
cities =["mumbai", "pune ","nagpur","surat","toranto"]
new_list = cities
cities.append("Indore")
print(cities)

##so, this both list are stored at same memory location

print(id(cities))
print(id(new_list))



##we can copy the list then it will show different memory location
another_list = cities.copy()
print(id(another_list))

['mumbai', 'pune ', 'nagpur', 'surat', 'toranto', 'Indore']
140042019060416
140042019060416
140042018871680

In [24]:
##split fuction is used to split the string into the list
mail = "hello you, you are doing an nice job. keeep it up"

print("#split every word from the list")
word = mail.split()
print(word)

print("split the word from the specific notaton like (.,/,..)")
sub_sentence = mail.split('.')
print(sub_sentence)

print("we can also join the string")
new_mail = " " .join(sub_sentence)
print(new_mail)

#split every word from the list
['hello', 'you,', 'you', 'are', 'doing', 'an', 'nice', 'job.', 'keeep', 'it', 'up']
split the word from the specific notaton like (.,/,..)
['hello you, you are doing an nice job', ' keeep it up']
we can also join the string
hello you, you are doing an nice job  keeep it up

In [28]:
##here we are adding pune 6 times
list1 =["pune"]
print(list1*6)
##here adding two string
print(list1 + list1)

['pune', 'pune', 'pune', 'pune', 'pune', 'pune']
['pune', 'pune']

In [31]:
num =[1,2,3,4,5,6,7,8,9]
print(len(num))


print(num[1::2])

num[1]="hello"
num

9
[2, 4, 6, 8]

[1, 'hello', 3, 4, 5, 6, 7, 8, 9]

In [34]:
digit = [2,3,6,1,7,4,5,9,8]

print(sorted(digit))

print(max(digit))## to get the maximum value from the list


print(min(digit))##to get minimum value from the list

[1, 2, 3, 4, 5, 6, 7, 8, 9]
9
1

In [37]:
##composit list mean list within the list

lists = [[1,2],[3,4],[5,6],[7,8],[8,9]]
lists

print(lists[1])##print the list which is on the first position

print(lists[0][1])##print the value of 0 index list of 1st value

[3, 4]
2