In [1]:
import numpy as np
import pandas as pd

In [9]:
temp = np.random.randint(low = 20, high =100,size = [20,])
name = np.random.choice(['khushmit','smit','lalit','anay',],20)
random =np.random.choice([10,14,15,17],20)
print("-----------------------------------------------------------")
print(name,"      ",temp,"    ",random)
print("-------------------------------------------------------------")

a = list(zip(temp,name,random))

-----------------------------------------------------------
['smit' 'khushmit' 'lalit' 'khushmit' 'anay' 'lalit' 'lalit' 'khushmit'
 'lalit' 'smit' 'khushmit' 'anay' 'smit' 'lalit' 'lalit' 'lalit' 'anay'
 'smit' 'khushmit' 'smit']        [62 87 46 83 76 91 44 98 26 40 30 51 67 97 78 60 44 95 78 86]      [10 14 10 14 10 17 15 14 17 10 14 10 15 10 17 14 17 10 10 14]
-------------------------------------------------------------

In [11]:
print(a)
print(type(a))

[(62, 'smit', 10), (87, 'khushmit', 14), (46, 'lalit', 10), (83, 'khushmit', 14), (76, 'anay', 10), (91, 'lalit', 17), (44, 'lalit', 15), (98, 'khushmit', 14), (26, 'lalit', 17), (40, 'smit', 10), (30, 'khushmit', 14), (51, 'anay', 10), (67, 'smit', 15), (97, 'lalit', 10), (78, 'lalit', 17), (60, 'lalit', 14), (44, 'anay', 17), (95, 'smit', 10), (78, 'khushmit', 10), (86, 'smit', 14)]
<class 'list'>

In [13]:
df = pd.DataFrame(data = a,columns=['temp','name','random'])
print(df)
print(type(df))

    temp      name  random
0     62      smit      10
1     87  khushmit      14
2     46     lalit      10
3     83  khushmit      14
4     76      anay      10
5     91     lalit      17
6     44     lalit      15
7     98  khushmit      14
8     26     lalit      17
9     40      smit      10
10    30  khushmit      14
11    51      anay      10
12    67      smit      15
13    97     lalit      10
14    78     lalit      17
15    60     lalit      14
16    44      anay      17
17    95      smit      10
18    78  khushmit      10
19    86      smit      14
<class 'pandas.core.frame.DataFrame'>