Pandas uses:-
a. data manipulation

b.visualisation

c.building ML Model

Important Data-Structure in Pandas

A. Series

b. Dataframe -> table

c. salary -> One Attribute in the table

> Indented block

In [1]:
import pandas as pd

In [5]:
a = pd.Series([1,2,3,4,5])
a[2]
print(a)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
a  = pd.Series(['a','b','c'])
a

0    a
1    b
2    c
dtype: object

In [8]:
a = pd.date_range(start ='01-01-2018', end = '21-01-2018')
print(a)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12',
               '2018-01-13', '2018-01-14', '2018-01-15', '2018-01-16',
               '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20',
               '2018-01-21'],
              dtype='datetime64[ns]', freq='D')

In [9]:
type(a)

pandas.core.indexes.datetimes.DatetimeIndex